target/
build/
classes/
out/
*.class
.idea/
.project
.classpath
*.iml
artifact-version.properties
*.swp
*.orig
*.sc
*.log
.cache
.history
.lib/
.gradle/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target/
project/project/
.scala_dependencies
.worksheet
tmp/
scratch*
.ensime*
.gradletasknamecache
